{% extends 'base.html' %}

{% block title %}Inventory Management|Dashboard{% endblock %}

{% block content %}

<div class="table-container">
    <h1>Pending Requests</h1>
    <table class="table-striped table-bordered">
        <tr>
            <th>Item</th>
            {% if is_admin %}
                <th>Link to provision</th>
            {% else %}
                <th>Description</th>
            {% endif %}
        </tr>
        {% for req in pending %}
            <tr>
                <td>{{ req.item.name }}</td>
                <td>
                    {% if is_admin %}
                        <a href="{% url 'provision_by_request' req.id %}">Provision Item</a>
                    {% else %}
                        {{ req.item.description|truncatechars:80 }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="table-container">
    <h1>Approved Requests</h1>
    <table class="table-striped table-bordered">
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Returnable</th>
            <th>Return by date</th>
            {% if is_admin %}
            <th>User</th>
            <th>Returned</th>
            <th>Return Item</th>
            {% endif %}

        </tr>
        {% for req in approved %}
            <tr>
                <td>{{ req.item.name }}</td>
                <td>{{ req.item.description|truncatechars:100 }}</td>
                <td>{% if req.item.returnable %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>
                <td>{% if req.item.returnable %}
                        {{ req.return_by }}
                    {% else %}
                        N/A
                    {% endif %}</td>

                {% if is_admin %}

                <td>{{ req.user }}</td>
                <td>{% if req.item.returnable and req.item.returned %}
                        Yes
                    {% elif req.item.returnable and not req.item.returned %}
                        No
                    {% else %}
                        N/A
                    {% endif %}</td>
                <td>{% if req.item.returnable and req.item.returned %}
                        Returned
                    {% elif req.item.returnable and not req.item.returned %}
                        <a href="{% url 'return_item' req.id %}">Mark Returned</a>
                    {% else %}
                        N/A
                    {% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}