{% extends 'base.html' %}
{% block title %}Inventory Management|Items Edit{% endblock %}
{% block content %}
    <h1>Select Item to Edit</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Returnable</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description|truncatechars:80 }}</td>
            <td>{% if item.returnable %}Yes{% else %}No{% endif %}</td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url 'edit_item_list' %}{{ item.id }}">Edit Item</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}