{% extends 'base.html' %}
{% block title %}Inventory Management|Provisions List{% endblock %}

{% url 'provision_item' as provision_item_url %}
{% url 'provision_list' as provision_list_url %}

{% block content %}
    <h1>All Provisions</h1>
    <table class="table-bordered table-striped">

        <tr>
            <td>Item Name</td>
            <td>User</td>
            <td>Action</td>
        </tr>

        {% for unit in object_list %}
        <tr>
            <td>{{ unit.item.name }}</td>
            <td>{{ unit.user.email }}</td>
            <td><a href="{% url 'return_item' unit.id %}">Mark returned</a></td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}