<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Return Item</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
    <h1>Return Item</h1>
    <form method="POST" class="item-form">{% csrf_token %}
        <b>
            {{ provision.item.name }}
        </b> issued to
        <b>
            {{ provision.user.email }}
        </b>
        <br/>
        Are you sure to mark this item as returned?
        <br/>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Yes</button>
    </form>
</body>
</html>